<p>Specify wake-up time or go with knockout!</p>
<%= form_tag(home_output_path, :method => "get", :remote => :true) do %>
  <%= text_field_tag :hour, nil, :class => "span1", :placeholder => "hour" %>
  <%= text_field_tag :minute, nil, :class => "span1", :placeholder => "minute" %>
  <br>
  <%= submit_tag "calculate", :class => "btn btn-primary btn-large" %>
  <%= submit_tag "zzz", :class => "btn btn-info btn-mini" %>
<% end %>