<h1>Sleepy</h1>
<p>
<% if @wake_result %>
<em>Wake at times:</em><br>
	<% @wake_result.each do |f| %>
		<%= hour = f.to_int	%>:<%= min = ((f - hour)*60).round(0) %>
		<br>
	<% end %>
<% else %>
<em>Go to sleep at:</em><br>
	<% @sleep_result.each do |f| %>
		<%=	hour = f.to_int %>:<%=	min = ((f - hour)*60).round(0) %>
		<br>
	<% end %>
<% end %>
</p>
<%= button_to 'Back', :back, :class => "btn btn-large btn-success" %>
